.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 120px);
    overflow-y: auto;
}

.account-register {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 128, 0, 0.5);
    margin: 15px 0 20px 0;
    max-height: 80vh;
}

.account-register h1 {
    font-size: 25px;
    text-align: center;
    color: #000;
    font-weight: bold;
    margin-bottom: 25px;
}

.register-form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #a39e9e;
    padding: 8px 0;
    margin-bottom: 20px;
    outline: none;
}

.btn-success {
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success:hover {
    opacity: 0.8;
}

.alert{
  margin-top: 15px;
}

@media (max-width: 767px) {
    .account-register {
        width: 90%;
    }
}