<div class="search-bar-container">
    <div class="search-bar-controls">
        <div class="search-bar-row">
            <div><strong>Exibir:</strong></div>
            <select id="pageSizeSelect" [(ngModel)]="selectedPageSize" (change)="onPageSizeChange()" class="form-select"
                aria-label="Quantidade de Registros" title="Selecione a quantidade de registros por página">
                <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }} por página</option>
            </select>
        </div>

        <div class="search-bar-row search-bar-input-buttons">
            <input type="text" [(ngModel)]="searchTerm" [placeholder]="placeholder" class="form-control"
                aria-label="Campo de Pesquisa" />

            <button type="button" class="btn btn-success" (click)="onSearch()" aria-label="Pesquisar">
                <i class="fa fa-search"></i>
            </button>

            <button *ngIf="searchTerm" type="button" class="btn btn-secondary" (click)="clearSearch()"
                aria-label="Limpar Pesquisa">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
</div>