<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container">

        <a class="navbar-brand" href="#">PixWeb</a>

        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>


        <div class="collapse navbar-collapse d-lg-inline-flex justify-content-center" id="navbarResponsive">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Chaves Pix</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-lg-auto">
                <app-menu-login></app-menu-login>
            </ul>
        </div>
    </div>
</nav>
