<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" [routerLink]="['/home']">PixWeb</a>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pixkey/list']" data-toggle="collapse" data-target="#navbarResponsive">
            Chaves Pix
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <app-menu-login></app-menu-login>
      </ul>
    </div>
  </nav>
</div>