<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-pulse" [fullScreen]="true">
  <p style="color: white; font-size: 20px;"> Carregando... </p>
</ngx-spinner>

<div class="form-container-content">
  <div class="alert alert-danger" *ngIf="errors.length > 0">
    <h3>Atenção</h3>
    <ul>
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-header text-center font-weight-bold">
        {{ isEditMode ? 'Editar Chave PIX' : 'Cadastrar Nova Chave PIX' }}
      </div>

      <form novalidate (ngSubmit)="savePixKey()" [formGroup]="pixKeyForm">

        <div class="card-body">
          <input type="hidden" formControlName="id">

          <div class="form-group">
            <label for="description">Descrição</label>
            <input class="form-control" id="description" type="text" placeholder="Descrição (requerido)"
              formControlName="description" [ngClass]="{'is-invalid': displayMessage['description'] }" />
            <span class="text-danger" *ngIf="displayMessage['description']">
              <p [innerHTML]="displayMessage['description']"></p>
            </span>
          </div>

          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="isPersonalKey" formControlName="isPersonalKey"
                name="isPersonalKey" value="true"> Chave Pessoal?
            </label>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="control-label">Tipo de Chave</label>
              <div>
                <select class="form-control" id="keyType" formControlName="keyType"
                  [ngClass]="{'is-invalid': displayMessage['keyType']}">
                  <option value="">Selecione</option>
                  <option value="0">CPF/CNPJ</option>
                  <option value="1">Email</option>
                  <option value="2">Telefone</option>
                  <option value="3">Chave Aleatória</option>
                </select>
                <span class="text-danger" *ngIf="displayMessage['keyType']">
                  <p [innerHTML]="displayMessage['keyType']"></p>
                </span>
              </div>
            </div>

            <div class="form-group col-md-8">
              <label for="key">Chave Pix</label>
              <input class="form-control" id="key" type="text" [mask]="customMask" placeholder="Chave Pix (requerido)"
                formControlName="key" [ngClass]="{'is-invalid': displayMessage['key'] }" />
              <span class="text-danger" *ngIf="displayMessage['key']">
                <p [innerHTML]="displayMessage['key']"></p>
              </span>
            </div>
          </div>

        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success" [disabled]="!pixKeyForm.valid" type="submit"
            style="margin-right: 15px; width:100px;">Salvar</button>
          <button class="btn btn-secondary" (click)="cancel()"
            style="margin-right: 15px; width:100px;">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>