.header h1 {
  font-size: 30px;
  margin-top: 15px;
}

.btn-new {
  align-self: start;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  vertical-align: middle; 
}

.btn-action {
  margin-right: 10px;
  display: inline-flex;
  align-items: center; 
}

.btn-primary {
  background-color: darkgreen;
  color: white;
}
