<div class="container">
  <div class="top-container">
    <h1>Chaves Pix</h1>
    <a [routerLink]="['/pixkey/new']" class="btn btn-new bg-success">Cadastrar</a>
  </div>

  <div class="table-container">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Descrição</th>
          <th>Chave Pessoal</th>
          <th>Tipo de Chave</th>
          <th>Chave</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pixKey of pixKeys">
          <td class="align-middle">{{ pixKey.description }}</td>
          <td class="align-middle">{{ pixKey.isPersonalKey ? 'Sim' : 'Não' }}</td>
          <td class="align-middle">{{ getKeyTypeDescription(pixKey.keyType) }}</td>
          <td class="align-middle">{{ pixKey.key }}</td>
          <td class="d-flex justify-content-center align-items-center">
            <button class="btn btn-action btn-warning" (click)="editPixKey(pixKey)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-action btn-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>