<div class="container">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "true"><p style="color: white; font-size: 20px;" > Carregando... </p></ngx-spinner>
  <div class="top-container">
    <h1>Chaves Pix</h1>
    <a class="btn btn-new bg-success" [routerLink]="['/pixkey/new']">Cadastrar</a>
  </div>

  <div class="table-container">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Descrição</th>
          <th>Chave Pessoal</th>
          <th>Tipo de Chave</th>
          <th>Chave</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pixKey of pixKeys">
          <td class="align-middle">{{ pixKey.description }}</td>
          <td class="align-middle">{{ pixKey.isPersonalKey ? 'Sim' : 'Não' }}</td>
          <td class="align-middle">{{ getKeyTypeDescription(pixKey.keyType) }}</td>
          <td class="align-middle">{{ pixKey.key | keyMask: pixKey.keyType }}</td>
          <td class="d-flex justify-content-center align-items-center">
            <button class="btn btn-action btn-warning" (click)="editPixKey(pixKey)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-action btn-danger" (click)="openDeleteModal(template, pixKey)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
      </table>
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChanged)="onPageChanged($event)"
>     </app-pagination>
    </div>

  <!-- Modal -->
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left text-danger">Atenção</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>Confirma a exclusão da Chave Pix: {{selectedPixKey.description}}?</p>
      <button type="button" class="modal-btn btn btn-danger" (click)="confirmDelete(selectedPixKey)">Excluir</button>
      <button type="button" class="modal-btn btn btn-secondary" (click)="bsModalRef.hide()">Cancelar</button>
    </div>
  </ng-template>  
</div>
