html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    line-height: 50px;
    background-color: #f8f9fa; 
    border-top: 1px solid #e5e5e5;
}


.footer .container {
    color: #343a40 !important;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

input,
select,
file,
textarea {
    max-width: 400px;
}

.navbar-toggler {
    z-index: 999;
}
