* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #f2f2f2;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.alert{
    margin: 10px 0 0 0;
    padding-bottom: 0;
}

.alert h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    text-align: center;
}

.list-container-content {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px 50px;
    padding: 15px 15px 0 15px;
    min-height: calc(100vh - 140px);
}

.form-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: calc(100vh - 120px);
    padding: 15px;
    box-sizing: border-box;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.navbar-toggler {
    z-index: 999;
}

.no-results-message {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}