.top-container {
  width: 100%;
}

.top-container h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.btn-new {
  align-self: start;
  margin-bottom: 10px;
  color: white !important;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 54vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  vertical-align: middle; 
}

.col-actions {
  width: 140px; 
  height: auto;
  align-items: center; 
  gap: 10px;
}

.btn-action {
  width: 50px;
}

.btn-primary {
  background-color: darkgreen;
  color: white;
}

.modal-btn {
  margin-right: 15px;
  width: 100px;
}
