.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 15px 15px;
    margin: 15px 0 10px 0;
}

.search-container select {
    padding: 6px;
    width: 150px;
    margin: 0 10px 0 5px;
  }

.search-input {
    flex: 1;
    padding: 5px;
    width: calc(100% - 110px); 
    max-width: none;
}

.search-container button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

